@font-face {
    font-family: IranSans;
    src: url(../assets/font/Iran-Sans.ttf);
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}
body {
    background-image: url(../assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: IranSans;
    margin: 0;
    padding: 0;
}
.header {
    .title {
        @include horizontal-center();
        border-top: 1px dashed #d3d3d3;
        border-bottom: 1px dashed #d3d3d3;
        padding: 23px 0;
        margin-top: 30px;
        img {
            width: 200px;
        }
    }
    .title-description {
        h1 {
            text-align: center;
            span {
                color: #4482f4;
            }
        }
    }
}
.chats {
    .teachers-chats {
        @include horizontal-center();
        img {
            width: 200px;
            height: auto;
            margin: 3%;
        }
        #jaberi-chat {
            position: relative;
            top: 50px;
        }
    }
    .teachers-chats-mobile-responsive {
        display: none;
    }
    .go-down {
        @include vertical-center();
        p {
            font-size: 14px;
            color: #808080;
        }
    }
}
.boxes {
    .Box {
        height: 600px;
        .good-news-box {
            img {
                position: relative;
                bottom: 55px;
            }
        }
    }
    .box {
        @include vertical-center();
        direction: rtl;
        position: relative;
        top: 150px;
        bottom: 500px;
        margin: auto;
        width: 350px;
        height: 250px;
        border-radius: 45px;
        background-color: #ffffff;
        box-shadow: 0 21px 13px -9px rgba(0,0,0,0.06);
        img {
            @include center();
            // position: relative;
            // bottom: 50px;
            width: 80px;
            height: auto;
            background: rgba(90,198,144,0.12);
            border-radius: 100%;
            padding: 15px;
        }
        .texts {
            position: relative;
            bottom: 30px;
            text-align: center;
            h3 {
                word-spacing: -.4ch;
            }
            p {
                color: #c5c5c5;
            }
            span {
                color: #4482f4;
                border-bottom: 2px solid #4482f4;
            }
        }
    }
    .attributes {
        direction: rtl;
        .attribute {
            @include vertical-center();
            height: 200px;
            h2 {
                top: 50px;
            }
            img {
                width: 55px;
                height: auto;
            }
            span, h4 {
                color: #959595;
            }
        }
    }
.three-last-boxes {
    .calendar-box {
        img {
            position: relative;
            bottom: 30px;
        }
        h2 {
            position: relative;
            bottom: 25px;
        }
        p {
            position: relative;
            bottom: 50px;
            color: #959595;
            font-size: 20px;
            text-align: center;
        }
    }
    .laptop-box {
        img {
            position: relative;
            bottom: 77px;
        }
        p {
        position: relative;
        bottom: 30px;
        color: #959595; 
        width: 80%;
        text-align: center;
        } 
    }
    .teachers-box {
        img {
            position: relative;
            bottom: 40px;
        }
        h2 {
            position: relative;
            bottom: 17px;
        }
        p {
            position: relative;
            bottom: 30px;            
            color: #959595;
            text-align: center;
        }
    }
}
}
.footer {
    img {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .teachers-img {
        position: fixed;
        top: 350px;
        width: 300px;
        height: auto;
    }
    #Jaberi {
        left: 12%;
    }
    #Soltani {
        left: 65%;
    }
    .freeExperienceButton {
        @include vertical-center();
        text-decoration: none;
        background-image: linear-gradient(#6DBEF4, #3B8AE5);
        color: #ffffff;
        position: fixed;
        left: 40%;
        bottom: 30px;
        border-radius: 30px;
        width: 18%;
        height: 45px;
        span {
            font-size: 23px;
            color: #ffffff;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        .title {
            img {
                width: 100px;
            }
        }
        .title-description {
            h1 {
                // width: 70%;
                font-size: 14px;
            }
        }
    }
    .chats {
        .teachers-chats {
            img {
                display: none;
            }
        }
        .teachers-chats-mobile-responsive {
            display: block;
            @include vertical-center();
            img {
                width: 200px;
            }
        }
        .go-down {
            display: none;
        }
    }
    .boxes {
        .box {
            width: 200px;
            height: 150px;
            border-radius: 15px;
            img {
                bottom: 20px;
                width: 70px;
            }
            .texts {
                bottom: 30px;
                h3 {
                    font-size: 12px;
                }
                p {
                    font-size: 12px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
    .attributes {
        direction: rtl;
        @include vertical-center();
        h2 {
            position: sticky;
            top: 50px;
            font-size: 18px;
        }
        img {
            width: 30px;
            height: auto;
        }
        span, h3, h4 {
            font-size: 12px;
        }
        .attributes-equal-space {
            height: 200px;
        }
    }
    .three-last-boxes {
        display: flex;
        flex-direction: column;
    .calendar-box {
        order: 1;
        img {
            margin-bottom: 20px;
        }
        p {
            color: #959595;
            font-size: 20px;
            text-align: center;
            margin-bottom: 50px;
        } 
    }
    .teachers-box {
        order: 0;
    }
    .laptop-box {
        display: flex;
        order: 2;
    }
}
    .footer {
        img {
            // height: 200px;
        }
        .teachers-img {
            display: none;
        }
        .freeExperienceButton {
            bottom: 20px;
            border-radius: 30px;
            width: 30%;
            height: 35px;
            font-size: 12px;
        }
    }
}

















/*
.footer {
    // display: flex;
    // justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    border: 2px solid #fad502;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    width: 100%;
    height: 130px;
    img {
        position: relative;
        bottom: 188px;
        width: 300px;
        height: auto;
    }
    #Jaberi {
        left: 12%;
    }
    #Soltani {
        left: 45%;
    }
}
*/


//below codes are for class (Parsa).
// .box {
//     div {
//         border-radius: 30px;
//     }
//     .course {

//     }
//     .class {

//     }
// }

