@font-face {
    font-family: IranSans;
    src: url(../assets/font/Iran-Sans.ttf);
}
@mixin flex-manager($direction-value, $justify-value, $align-value) {
    display: flex;
    flex-direction: $direction-value;
    justify-content: $justify-value;
    align-items: $align-value;
}
// @mixin center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// @mixin horizontal-center {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
// }
// @mixin vertical-center {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
* {
    box-sizing: border-box;
}
body {
    background-image: url(../assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: IranSans;
    margin: 0;
    padding: 0;
}
.header {
    .title {
        @include flex-manager(row, center, unset); //horizontal center item by "flex".
        border-top: 1px dashed #d3d3d3;
        border-bottom: 1px dashed #d3d3d3;
        padding: 23px 0;
        margin-top: 30px;
        img {
            width: 200px;
        }
    }
    .title-description {
        h1 {
            text-align: center;
            span {
                color: #4482f4;
            }
        }
    }
}
.chats {
    .teachers-chats {
        @include flex-manager(row, center, unset); //horizontal center item by "flex".
        img {
            width: 200px;
            height: auto;
            margin: 3%;
        }
        #jaberi-chat {
            position: relative;
            top: 50px;
        }
    }
    .teachers-chats-mobile-responsive {
        display: none;
    }
    .go-down {
        @include flex-manager(column, center, center); // vertical center item by "flex".
        p {
            font-size: 14px;
            color: #808080;
        }
    }
}
.boxes {
    .Box {
        height: 600px;
        .good-news-box {
            img {
                position: relative;
                bottom: 55px;
            }
        }
    }
    .box {
        @include flex-manager(column, center, center); // vertical center item by "flex".
        direction: rtl;
        position: relative;
        top: 150px;
        bottom: 500px;
        margin: auto;
        width: 350px;
        height: 250px;
        border-radius: 45px;
        background-color: #ffffff;
        box-shadow: 0 21px 13px -9px rgba(0,0,0,0.06);
        img {
            @include flex-manager(row, center, center); // center item by "flex";
            width: 80px;
            height: auto;
            background: rgba(90,198,144,0.12);
            border-radius: 100%;
            padding: 15px;
        }
        .texts {
            position: relative;
            bottom: 30px;
            text-align: center;
            h3 {
                word-spacing: -.4ch;
            }
            p {
                color: #c5c5c5;
            }
            span {
                color: #4482f4;
                border-bottom: 2px solid #4482f4;
            }
        }
    }
    .attributes {
        direction: rtl;
        .attribute {
            @include flex-manager(column, center, center); // vertical center item by "flex".
            height: 200px;
            h2 {
                top: 50px;
            }
            img {
                width: 55px;
                height: auto;
            }
            span, h4 {
                color: #959595;
            }
        }
    }
.three-last-boxes {
    .calendar-box {
        img {
            position: relative;
            bottom: 30px;
        }
        h2 {
            position: relative;
            bottom: 25px;
        }
        p {
            position: relative;
            bottom: 50px;
            color: #959595;
            font-size: 20px;
            text-align: center;
        }
    }
    .laptop-box {
        img {
            position: relative;
            bottom: 77px;
        }
        p {
        position: relative;
        bottom: 30px;
        color: #959595; 
        width: 80%;
        text-align: center;
        } 
    }
    .teachers-box {
        img {
            position: relative;
            bottom: 40px;
        }
        h2 {
            position: relative;
            bottom: 17px;
        }
        p {
            position: relative;
            bottom: 30px;            
            color: #959595;
            text-align: center;
        }
    }
}
}
.footer {
    img {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .teachers-img {
        position: fixed;
        top: 350px;
        width: 300px;
        height: auto;
    }
    #Jaberi {
        left: 12%;
    }
    #Soltani {
        left: 65%;
    }
    .freeExperienceButton {
        @include flex-manager(column, center, center); // vertical center item by "flex".
        text-decoration: none;
        background-image: linear-gradient(#6DBEF4, #3B8AE5);
        color: #ffffff;
        position: fixed;
        left: 40%;
        bottom: 30px;
        border-radius: 30px;
        width: 18%;
        height: 45px;
        span {
            font-size: 23px;
            color: #ffffff;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        .title {
            img {
                width: 100px;
            }
        }
        .title-description {
            h1 {
                // width: 70%;
                font-size: 14px;
            }
        }
    }
    .chats {
        .teachers-chats {
            img {
                display: none;
            }
        }
        .teachers-chats-mobile-responsive {
            display: block;
            @include flex-manager(column, center, center); // vertical center item by "flex".
            img {
                width: 200px;
            }
        }
        .go-down {
            display: none;
        }
    }
    .boxes {
        .Box {
            height: 600px;
            .good-news-box {
                img {
                    position: relative;
                    bottom: 23px;
                }
            }
        }
        .box {
            width: 200px;
            height: 150px;
            border-radius: 15px;
            img {
                bottom: 20px;
                width: 65px;
            }
            .texts {
                bottom: 30px;
                h3 {
                    font-size: 12px;
                }
                p {
                    font-size: 12px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    //     .three-last-boxes {  
    //         .Box {
    //         .calendar-box {
    //             img {
    //                 position: absolute;
    //                 bottom: 23px;
    //             }
    //             h2 {
    //                 position: relative;
    //                 bottom: 25px;
    //             }
    //             p {
    //                 position: relative;
    //                 bottom: 50px;
    //                 color: #959595;
    //                 font-size: 20px;
    //                 text-align: center;
    //             }
    //         }
    //         .laptop-box {
    //             img {
    //                 position: relative;
    //                 bottom: 23px;
    //             }
    //             p {
    //             position: relative;
    //             bottom: 30px;
    //             color: #959595; 
    //             width: 80%;
    //             text-align: center;
    //             } 
    //         }
    //         .teachers-box {
    //             img {
    //                 position: relative;
    //                 bottom: 40px;
    //             }
    //             h2 {
    //                 position: relative;
    //                 bottom: 17px;
    //             }
    //             p {
    //                 position: relative;
    //                 bottom: 30px;            
    //                 color: #959595;
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
    // }
    .three-last-boxes {
        .calendar-section {
            .calendar-box {
                img {
                    position: relative;
                    bottom: 11px;
                }
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 15px;
                }
            }
            
    }
    .laptop-section {
        .laptop-box {
            img {
                position: relative;
                bottom: 45px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .teachers-section {
        .teachers-box {
           img {
            position: relative;
            bottom: 17px;
           } 
           h2 {
            font-size: 18px;
           }
           p {
            font-size: 12px;
           }
        }
    }
}
    .attributes {
        direction: rtl;
        @include flex-manager(column, center, center); // vertical center item by "flex".
        h2 {
            position: sticky;
            top: 50px;
            font-size: 18px;
        }
        img {
            width: 30px;
            height: auto;
        }
        span, h3, h4 {
            font-size: 12px;
        }
        .attributes-equal-space {
            height: 200px;
        }
    }

    // .calendar-box {
    //     order: 1;
    //     img {
    //         // margin-bottom: 20px;
    //     }
    //     p {
    //         color: #959595;
    //         font-size: 8px;
    //         text-align: center;
    //         margin-bottom: 50px;
    //     } 
    // }
    // .teachers-box {
    //     order: 0;
    // }
    // .laptop-box {
    //     display: flex;
    //     order: 2;
    // }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}











    .footer {
        // #curve-img {
        //     height: 400px;
        // }
        .teachers-img {
            display: none;
        }
        .freeExperienceButton {
            bottom: 6px;
            border-radius: 30px;
            width: 22%;
            height: 22px;
            font-size: 10px;
        }
    }
}

















/*
.footer {
    // display: flex;
    // justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    border: 2px solid #fad502;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    width: 100%;
    height: 130px;
    img {
        position: relative;
        bottom: 188px;
        width: 300px;
        height: auto;
    }
    #Jaberi {
        left: 12%;
    }
    #Soltani {
        left: 45%;
    }
}
*/


//below codes are for class (Parsa).
// .box {
//     div {
//         border-radius: 30px;
//     }
//     .course {

//     }
//     .class {

//     }
// }

