@font-face {
    font-family: IranSans;
    src: url(../assets/font/Iran-Sans.ttf);
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    font-family: IranSans;
    margin: 0;
    padding: 0;
}
.title {
    @include horizontal-center();
    border-top: 1px dashed #d3d3d3;
    border-bottom: 1px dashed #d3d3d3;
    padding: 23px 0;
    margin-top: 30px;
    img {
        width: 200px;
    }
}
.title-description {
    h1 {
        text-align: center;
        span {
            color: #4482f4;
        }
    }
}
.footer {
    // display: flex;
    // justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    border: 2px solid #fad502;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    width: 100%;
    height: 130px;
    img {
        position: relative;
        bottom: 188px;
        width: 300px;
        height: auto;
    }
    #Jaberi {
        left: 12%;
    }
    #Soltani {
        left: 45%;
    }
}
.freeExperienceButton {
    // position: relative;
    @include center();
    background-image: linear-gradient(#6DBEF4, #3B8AE5);
    border-radius: 30px;
    width: 18%;
    height: 45px;
}
