<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title> zabanino </title>
</head>
<body>
    <section class="header">
        <div class="title">
            <img src="../assets/images/zabanino-logo.svg" alt="zabanino logo" title="zabanino title">
        </div>
        <div class="title-description">
            <h1>کلاس های آنلاین <span>انگلیسی</span> کلاسینو</h1>
        </div>
    </section>
    <section class="chats">
        <div class="teachers-chats">
            <img id="jaberi-chat" src="../assets/images/chat j.svg" data-aos="fade-right" data-aos-duration="3000" alt="alireza jaberi chat">
            <img id="soltani-chat" src="../assets/images/chat s.svg" data-aos="fade-left" data-aos-duration="1000" alt="nastaran solatni chat">
        </div>
        <div class="go-down">
            <p>برو پایین صفحه</p>
            <a href="#attributes"><img src="../assets/images/arrrow.svg"></a>
        </div>
    </section>
    <section class="boxes">
        <div class="box good-news-box" data-aos="fade-up" data-aos-duration="1500">
            <img src="../assets/images/speaker.png">
            <div class="texts">
            <h3>خبر خوب برای تمام زبان آموزان!</h3>
            <p>دوره ترمیک زبان انگلیسی زبانینو،</p>
            <span>مناسب برای همه در هر سطحی از زبان</span>
            </div>
        </div>
        <div class="equal-space"></div>
        <div class="attributes">
            <h2 id="attributes">ویژگی ها</h2>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <img src="../assets/images/vijegi1.svg" alt="note icon">
            <h3>تدریس به همراه ارائه جزوه ترکیبی</h3>
            <span>(استفاده از چند منبع مختلف در جزوه)</span>
            <div class="attributes-equal-space"></div>
            <img src="../assets/images/vijegi2.svg">
            <h3>حل تکالیف</h3>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <img src="../assets/images/vijegi3.svg">
            <h3>آزمون های کلاسی</h3>
            <div class="attributes-equal-space"></div>
            <img src="../assets/images/vijegi4.svg">
            <h3>تمرین های گروهی آنلاین در تلگرام</h3>
            <h4>مخصوص مهارت Speaking</h4>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <div class="attributes-equal-space"></div>
            <img src="../assets/images/vijegi5.svg">
            <h3>جلسه اول رایگان</h3>
            <div class="attributes-equal-space"></div>
        </div>
        <div class="equal-space"></div>
        <div class="box calendar-box" data-aos="fade-up" data-aos-duration="1500">
            <img src="../assets/images/calendar.png">
            <p> ۱ / بهمن / ۱۴۰۱ <br> ساعت ۱۶ </p>
        </div>
        <div class="equal-space"></div>
        <div class="box laptop-box" data-aos="fade-up" data-aos-duration="1500">
            <img src="../assets/images/laptop.png">
            <p>تمامی کلاس ها در سایت کلاسینو برگزار می شود.</p>
        </div>
        <div class="equal-space"></div>
        <div class="box teachers-box" data-aos="fade-up" data-aos-duration="1500">
            <img src="../assets/images/teacher.png">
            <h2>اساتید دوره</h2>
            <p>استاد نسترن سلطانی <br> استاد علیرضا جابری</p>
        </div>
        <div class="equal-space"></div>
    </section>
    <section class="footer">
        <img src="../assets/images/curve.svg" data-aos="fade-up" data-aos-duration="1500" alt="curve shape">
        <img class="teachers-img" id="Jaberi" src="../assets/images/jabnew.png" alt="teacher Jaberi" title="mr.Jaberi" data-aos="zoom-in-right" data-aos-duration="1700">
        <img class="teachers-img" id="Soltani" src="../assets/images/nastnew.png" alt="teacher Soltani" title="ms.Soltani" data-aos="zoom-in-left" data-aos-duration="1700">
        <a href="#" class="freeExperienceButton">رایگان تجربه کن</a>
    </section>


    <!--
    <div class="footer" data-aos="fade-up" data-aos-duration="2000">
        <img id="Jaberi" src="../assets/images/jabnew.png" alt="teacher Jaberi" title="mr.Jaberi" data-aos="zoom-in-right" data-aos-duration="1700">
        <img id="Soltani" src="../assets/images/nastnew.png" alt="teacher Soltani" title="ms.Soltani" data-aos="zoom-in-left" data-aos-duration="1700">
    </div>
    <a href="#" class="freeExperienceButton">رایگان تجربه کن</a>
    -->
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>