<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="../style/zabanino.css">
    <title> zabanino </title>
</head>
<body>
    <div class="title">
        <img src="../assets/images/zabanino-logo.svg" alt="zabanino logo" title="zabanino title">
    </div>
    <div class="title-description">
        <h1>کلاس های آنلاین <span>انگلیسی</span> کلاسینو</h1>
    </div>
    <div class="teachers-chats">
        <img id="jaberi-chat" src="../assets/images/chat j.svg" alt="alireza jaberi chat">
        <img id="soltani-chat" src="../assets/images/chat s.svg" alt="nastaran solatni chat">
    </div>
    <div class="go-down">
        <p>برو پایین صفحه</p>
        <img src="../assets/images/arrrow.svg">
    </div>
    <div class="good-news-box">
        <img src="../assets/images/speaker.png">
        <div class="texts">
        <h3>خبر خوب برای تمام زبان آموزان!</h3>
        <p>دوره ترمیک زبان انگلیسی زبانینو،</p>
        <span>مناسب برای همه در هر سطحی از زبان</span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>





    <div class="footer">
        <img id="Jaberi" src="../assets/images/jabnew.png" alt="teacher Jaberi" title="mr.Jaberi">
        <img id="Soltani" src="../assets/images/nastnew.png" alt="teacher Soltani" title="ms.Soltani">
    </div>
    <a href="#" class="freeExperienceButton"><i class='fas fa-arrow-left'></i>  رایگان تجربه کن </a>
</body>
</html>